body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.perfil {
    background-color: #fff;
    padding: 15px;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    float: right;
}



h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}